* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    background-image: url("../images/login-bg.jpg");
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background: rgba(180, 129, 129, 0.1);
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgba(15, 13, 13, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-title {
    margin-bottom: 16px;
  }
  
  .input-box {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    caret-color: white;
    color: white;
    font-weight: 500;
    transition: 0.25s;
  }
  
  .input-box input:focus {
    border: solid 3px rgba(255, 255, 255, 0.25);
  }
  
  .input-box input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .input-box input::-ms-reveal {
    filter: invert(100%);
  }

  .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    transition: 0.25s;
  }
  
  .input-box input:focus + i {
    color: white;
    text-decoration: none;
  }
  
  .remember-forgot-box {
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: space-between;
  }
  
  .remember-forgot-box h5 {
    font-weight: normal;
  }


  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background: #32CDD5;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
  }
  
  .login-button:focus {
    outline: #32CDD58A 3px solid;
  }
  
  .dont-have-an-account {
    font-weight: normal;
    margin-top: 12px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  
  .reg {
    color: rgb(37, 46, 144); 
    text-decoration: none;
    cursor: pointer;
  }

  .success{
    color: #009432;
}

.error{
    color: #EA2027;
}